body {
    background-image: url('/src/Components/Assets/Logback.png');
}
form {
    background-color: #0066ff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    width: 350px;
    max-width: 100%;
    margin: 20px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 34px;
    font-weight: bold;
}

table {
    width: 100%;
}

input[type='text'] {
    width: 92%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 15px;
    background-color: #f0f0f0;
    text-align: center;
}

input[type='text']:focus {
    outline: none;
    border-color: #ffffff;
    background-color: #e6e6e6;
}
input[type='password'] {
    width: 92%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 15px;
    background-color: #f0f0f0;
    text-align: center;
}

input[type='password']:focus {
    outline: none;
    border-color: #ffffff;
    background-color: #e6e6e6;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #5d00ff;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 17px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7300ff;
}

p {
    margin-top: 15px;
    color: white;
    font-size: 14px;
}

p a {
    color: #d1dce6;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
    color: #ffffff;
}
